<!-- About Section -->
<section id="curriculum-vitae">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Curriculum Vitae</h2>
                <h3 class="section-subheading text-muted"></h3>
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hoppecke.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2011 - Sep 2014</h4>
                                    <h4 class="subheading">Apprenticeship as IT Specialist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Three year apprenticeship at the company HOPPECKE Advanced Battery
                                        Technology GmbH in Zwickau (Saxony) as IT specialist in the field
                                        of software development.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/osz-imt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2014 - Sep 2015</h4>
                                    <h4 class="subheading">Vocational Diploma</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">One-year vocational diploma at the Oberstufenzentrum
                                        for information and medical technology Berlin.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/htw-berlin.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2015 - Sep 2018</h4>
                                    <h4 class="subheading">B.Sc. - Applied Computer Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Science in Applied Computer Science at the
                                        Hochschule für Technik und Wirtschaft Berlin (Berlin University of
                                        Applied Sciences), with specialization in multimedia, mobile development
                                        and machine learning.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/h3ko.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun 2016 - Today</h4>
                                    <h4 class="subheading">Software Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working student at h3ko Vertriebsgesellschaft mbH as
                                        software developer in the area of cross-platform app development.
                                        Specialized in the development of Xamarin applications.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/htw-berlin2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2018 - Today</h4>
                                    <h4 class="subheading">M.Sc. International Media and Computation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Studying for a Master's degree in International Media and
                                        Computation at the Hochschule für Technik und Wirtschaft Berlin (Berlin
                                        University
                                        of Applied Sciences), specializing in game development and machine learning.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a class="timeline-image cv" href="files/resume.pdf">
                                <div class="cv-link">
                                    <div class="cv-hover">
                                        <div class="cv-hover-content">
                                            <i class="fa fa-file-pdf fa-3x"></i>
                                        </div>
                                    </div>
                                    <h4>Get my
                                        <br>full
                                        <br>C.V.</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>