<!-- Interests Section -->
    <section id="interests">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interests</h2>
                    <h3 class="section-subheading text-muted">My three main interests in computer
                        science are machine learning, mobile development and most of
                        all game development.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="interests-heading">Game Development</h4>
					<p class="text-muted">I am fascinated by the art of creating video games.
                        Whether it's participating in game jams, working on game projects during
                        my studies, or listening to podcasts about video games. I am extremely
                        interested in the process of game creation and love to learn new techniques
                        and facets in the field of game development. I would like to work in the video
                        game industry and therefore I am very motivated to invest a lot of time and
                        passion in this area.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="interests-heading">Machine Learning</h4>
					<p class="text-muted">During my bachelor studies I became aware of the research area
                        of machine learning. Since then I have been very interested in the current
                        development of this field and the implementation of such machine learning methods.
                        Especially the topic of reinforcement learning has created a huge curiosity in me,
                        which is why I worked on it during my bachelor thesis as well as in several courses
                        of my studies. To my advantage, I was able to combine this area well with video games
                        because a lot of research is done on video games.</p>
				</div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="interests-heading">Mobile Development</h4>
                    <p class="text-muted">Currently I earn my living by developing mobile apps. I work a lot
                        in teams and already have some experience in managing projects. My main interests in
                        mobile development are the implementation of services, the design of app architectures
                        and backend development. Although app development is not my favorite area, I like the
                        process of creating apps very much and I am very happy to be a passionate part of a
                        small developer team.</p>
				</div>
            </div>
        </div>
    </section>
